/* Global */

* {
    box-sizing: border-box;
}    

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color:#f0e7e7; 
}

body, html {
    height: 100%;
}

.container {
    width:80%;
    margin:auto;
    overflow:hidden;
}
  
ul {
    margin:0;
    padding:0;
}

.section-title {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
}

.white {
    color: #fff;
}

.purple {
    color: #93f;
}

.black {
    color: #000;
}

#home, #about, #services, #pricing, #portfolio, #contact {
    min-height: 100%;
}

.button{
    padding-left: 20px;
    padding-right:20px;
    font-weight: bold;
    border-radius: 5px;
}

.button-text {
    text-decoration: none;
    color: black;
}

p {
    font-family: 'Raleway', sans-serif;
}

h1, h3, ul li , label, .text{
    font-family: 'Ubuntu', sans-serif;
}

/* Header */
header {
    background: #93f;
    color:#fff;
    padding-top:8px;
    padding-bottom: 8px;
    min-height:70px;
    border-bottom:#000 1px solid;
    position: fixed;
    width: 100%;
    z-index: 10;
}

header a {
    color:#fff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}
  
header li {
    float: left;
    display:inline;
    padding: 0 10px 0 10px;
}

header h1 {
    float: left;
}

header nav {
    float:right;
    margin-top:30px;
}

header a:hover {
    font-weight: bold;
} 

header a:active{
    font-weight: bold;
}

.header-container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

/* Home */
#home{
    background:url('../img/home.jpg') no-repeat center fixed;
    background-size: cover;
    text-align:center;
    position: relative;
    top: 90px;
}

#home h1{
    margin-top:200px;
    font-size:55px;
    color: #9933ff;
}

#home p{
    margin-top:40px;
    font-size:20px;
    color: #000;
}

/* About */
#about {
    margin-bottom: 0;   
    text-align: center;
    min-height: 90%;
    position: relative;
    top: 90px;
}

#about p {
    font-size: 20px;
    margin-right: 80px;
    margin-left: 80px;
    font-weight: bold;
    color: #000;
}
  
.animation-area {
    background: linear-gradient(to left, #93f, #7300e6);
    width: 100%;
    height: 90vh;
  }
  
.box-area {
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
  
.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.2);
    animation: animate 20s linear infinite;
    bottom: -100px;
}
  
.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
  
.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
  
.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
    animation-duration: 10s;
}
  
.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
  
.box-area li:nth-child(5) {
    left: 25%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
  
.box-area li:nth-child(6) {
    left: 60%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
  
@keyframes animate{
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-650px) rotate(360deg);
        opacity: 0;
    }
}

/* Services */
#services {
    background-image: url("../img/wbackground.jpg");
    padding-left: 20px;
    position: relative;
    top: 90px;
}

.box{
    float:left;
    text-align: center;
    width: 30%;
    padding:10px;
    margin: 5px;    
}

.box h3 {
    font-size: 20px;
}

.box p {
    font-size: 16px;
    color: #000;
}

#services .box img{
    width:80px;
}

/* Pricing */

#pricing {
    background-color: #93f;
    padding-bottom: 60px;
    position: relative;
    top: 90px;
}

.flex-adjust{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.card {
    background-color: black;
    border: solid black 1px;
    border-radius: 10px;
    width: 32%;
    text-align: center;
    padding: 15px 30px 15px 30px;
}

#pricing img {
    width: 70px;
}

#pricing h3 {
    font-size: 20px;
    color: #93f;
}

#pricing p {
    font-size: 16px;
    color: white;
}

#pricing span {
    font-weight: bold;
}

/* porfolio */
#portfolio {
    padding-bottom: 40px;
    background-image: url("../img/wbackground.jpg");
    position: relative;
    top: 90px;
}

.pcard {
    border: 1px solid #93f;
    border-radius: 10px;
    position: relative;
}
  
.bg-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.content {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;    
}

.text {
    background-color:#93f;
    color: #fff;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 5px;
}

.pcard:hover .bg-img {
    opacity: 0.3;
}
  
.pcard:hover .content {
    opacity: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

/* Contact */
#contact{
    min-width: 100%;
    background-color: #93f;
    padding-top: 5px;
    padding-bottom: 80px;
    position: relative;
    top: 90px;
}

.contact-container {
    margin-top: 50px;
    height: 332px;      
    background-color: black;
    border-top: 2px solid black;
}

article#main-col{
    float:left;
    width:70%;
    box-sizing: border-box;   
}

iframe {
    width: 100%;
    height: 328px; 
}

aside#sidebar{
    float:right;
    width:25%;
    margin-top:15px;
    padding-right: 30px;   
    background-color: black;
}

aside#sidebar h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
    color: #93f;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
    margin-bottom: 8px;
    border: 1px solid #93f;
    border-radius: 5px;
}

aside#sidebar .quote textarea {
    overflow: hidden;
}

aside#sidebar label {
    color: white;
    font-size: 14px;
    font-weight: normal;
}

.button_2 {
    height: 32px;
    background: #93f;
    color: #fff;
    border: 1px solid #93f;
}

/*newsletter*/
#newsletter {
    min-height: 30%;
    background: url("../img/wbackground.jpg");
    position: relative;
    top: 90px;
}

.button_1 {
    height:40px;
    background:#93f;
    border: 2px #93f solid;
    color:#fff;
}

#newsletter input[type="email"]{
    padding:6px;
    height: 40px;
    width:270px;
    border: #93f 2px solid;
}

#newsletter h1{
    text-align: center;
    font-weight: bold;
    margin-top: 35px;
    font-size: 35px;
    color: #000;
}
  
#newsletter form {
    text-align: center;
    margin-top: 20px;
}

/*footer */
footer{
    padding:30px;
    color:#000;
    background-color:#93f;
    border-top: 1px solid #000;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 90px;
}

/* Responsiveness */
@media only screen and (max-width: 576px)
{
    /* global */
    #about, #home, #services, #portfolio, #pricing, #contact {
        padding-bottom: 70px;
        position: unset;
    }

    #services, #pricing, #portfolio, #contact, #newsletter, footer {
        position: relative;
        top: -70px;
    }

    .section-title {
        font-size: 45px;
        margin-bottom: 50px;
    }

    .button{
        padding-left: 5px;
        padding-right:5px;
        font-size: 12px;
        
    }

    /*header*/
    .header-container {
        width: 100%;
    }
    
    header h1 {
        float: none;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    header nav{
        float: none;
        text-align: center;
        margin-top: 10px;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    header li {
        padding: 8px 15px 8px 15px;
        letter-spacing: 1px;
        
    }   

    header a {
        font-size: 14px;
    }

    header a:active {
        font-weight: normal;
        text-decoration: underline;
    }

    /*home*/
    #home h1{
        margin-top:200px;
        font-size: 35px;
        margin-bottom: 0px;
    }
    
    #home p {
        font-size: 16px;
        margin-top: 10px;
    }

    /*about*/
    #about p {
        font-size: 16px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .box-area li {
        bottom: -700px;
    }

    .box-area {
        height: 100vh;
    }

    .animation-area {
        height: 100%;
        padding-bottom: 50px;
    }

    /*services*/
    #services h1 {
        padding-right: 20px;
    }

    .box{
        float: none;
        width: 100%;
        padding-right: 40px;
    }

    /*pricing*/
    .flex-adjust {
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Contact */
    .contact-container {
        height: 100%;
    }
    article#main-col, aside#sidebar{
        float: none;
        width: 100%;
    }

    aside#sidebar{
        padding: 0 20px 30px 60px;
    }

    aside#sidebar .quote input, aside#sidebar .quote textarea{
        width:80%;
    }

    aside#sidebar h1{
        padding-right: 40px;
    }

    .button_2 {
        padding: 10px 10px 15px 10px;
        width: 80%;
    }

    /*newsletter*/
    #newsletter {
        height: 40%;
    }

    #newsletter input[type="email"]{
        float: left;
        width: 70%;
        margin-left: 5px;   
    }

    .button_1 {
        float: right;
        width: 25%;
        margin-right: 5px;
    }
}

@media only screen and (min-width: 576px) 
                   and (max-width: 768px)
{
    /* global */
    #about, #home, #services, #portfolio, #pricing, #contact {
        padding-bottom: 70px;
        position: unset;
    }

    #pricing, #portfolio, #contact, #newsletter, footer{
        position: relative;
        top: -70px;
    }

    .section-title {
        font-size: 45px;
        margin-bottom: 50px;
    }

    .button{
        padding-left: 5px;
        padding-right:5px;
        font-size: 12px;
        
    }

    /*header*/
    .header-container {
        width: 100%;
    }

    header h1 {
        float: none;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    header nav{
        float: none;
        text-align: center;
        margin-top: 10px;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    header li {
        padding: 8px 15px 8px 15px;
        letter-spacing: 1px;
        
    }   

    header a {
        font-size: 14px;
    }

    header a:active {
        font-weight: normal;
        text-decoration: underline;
    }

    /*home*/
    #home h1{
        margin-top:200px;
        font-size: 35px;
        margin-bottom: 0px;
    }
    
    #home p {
        font-size: 16px;
        margin-top: 10px;
    }

    /*about*/
    #about p {
        font-size: 16px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .box-area li {
        bottom: -700px;
    }

    .box-area {
        height: 100vh;
    }

    .animation-area {
        height: 100%;
        padding-bottom: 50px;
    }

    /*services*/
    #services {
        position: relative;
        top: -70px;
    }

    #services h1 {
        padding-right: 20px;
    }

    .box{
        float: none;
        width: 100%;
        padding-right: 40px;
    }

    /*pricing*/
    .flex-adjust {
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Contact */
    .contact-container {
        height: 100%;
    }

    article#main-col, aside#sidebar{
        float: none;
        width: 100%;
    }

    aside#sidebar{
        padding: 0 20px 30px 100px;
    }

    aside#sidebar .quote input, aside#sidebar .quote textarea{
        width:80%;
    }

    aside#sidebar h1{
        padding-right: 80px;
    }

    .button_2 {
        padding: 10px 10px 15px 10px;
        width: 80%;
    }

    /*newsletter*/
    #newsletter {
        height: 40%;
    }

    #newsletter input[type="email"]{
        float: left;
        width: 70%;
        margin-left: 5px;   
    }

    .button_1 {
        float: right;
        width: 25%;
        margin-right: 5px;
    }
    
}

@media only screen and (min-width: 768px) 
                   and (max-width: 992px)
{
    /* global */
    #about, #home, #services, #portfolio, #pricing, #contact {
        padding-bottom: 70px;
        position: unset;
    }

    #pricing, #portfolio, #contact, #newsletter, footer{
        position: relative;
        top: -70px;
    }

    .section-title {
        margin-top: 200px;
    }

    .button{
        padding-left: 5px;
        padding-right:5px;
        font-size: 12px;
        
    }

    /*header*/
    .header-container {
        width: 100%;
    }

    header h1 {
        float: none;
        text-align: center;
    }
    
    header nav{
        float: none;
        text-align: center;
        margin-top: 10px;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    header li {
        padding: 8px 15px 8px 15px;
        letter-spacing: 1px;
        
    }   

    header a {
        font-size: 14px;
    }

    header a:active {
        font-weight: normal;
        text-decoration: underline;
    }

    /*home*/
    #home h1 {
        margin-top: 300px;
    }

    /*about*/
    #about {
        min-height: 70%;
    }
    
    #about p {
        font-size: 18px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .box-area li {
        bottom: -700px;
    }

    .box-area {
        height: 70vh;
    }

    .animation-area {
        height: 70%;
        padding-bottom: 50px;
    }

    /*services*/
    #services {
        position: relative;
        top: -70px;
    }

    #services h1 {
        padding-right: 20px;
    }

    .box{
        float: none;
        width: 100%;
        padding-right: 40px;
    }

    /*pricing*/
    .flex-adjust {
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Contact */
    .contact-container {
        height: 100%;
    }

    article#main-col, aside#sidebar{
        float: none;
        width: 100%;
    }

    aside#sidebar{
        padding: 0 20px 30px 130px;
    }

    aside#sidebar .quote input, aside#sidebar .quote textarea{
        width:80%;
    }

    aside#sidebar h1{
        padding-right: 110px;
    }

    .button_2 {
        padding: 10px 10px 15px 10px;
        width: 80%;
    }

    /*newsletter*/
    #newsletter {
        padding-top: 5%;
        height: 20%;
    }

    #newsletter input[type="email"]{
        float: left;
        width: 70%;
        margin-left: 5px;   
    }

    .button_1 {
        float: right;
        width: 25%;
        margin-right: 5px;
    }
}

@media only screen and (min-width: 992px) 
                   and (max-width: 1200px)
{
    /*global*/
    #services, #pricing, #portfolio, #contact {
        min-height: 60%;
    }

    /*home*/
    #home {
        min-height: 80%;
    }

    #home h1 {
        margin-top: 350px;
        font-size: 60px;
    }

    #home p {
        font-size: 20px;
    }

    /*about*/
    #about {
        min-height: 50%;
    }

    .box-area {
        height: 50vh;
    }

    .animation-area {
        height: 50%;
        padding-bottom: 50px;
    }

    /*portfolio*/
    #portfolio {
        padding-bottom: 100px;
    }

    /*newsletter*/
    #newsletter {
        min-height: 20%;
        padding-top: 5%;
    }
}
